{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ person.name }}</h1>
{% for year, info in person.infoByYear %}
    {#<h2>{{ year }}</h2>#}
    <div>
        {% if info.description is defined %}
            <i>{{ info.description }}</i>{% if info.address is defined %}, {% endif %}
        {% endif %}
        {% if info.address is defined %}
            {{ info.address }}
        {% endif %}
        {% if person.companyRelations|length > 0 %}
        <h3>Firmen</h3>
        <ul>
            {% for companyRelation in person.companyRelations %}
                <li>
                    <a href="{{ path('company_show', { 'id': companyRelation.company.id }) }}">{{ companyRelation.company.name }}</a>
                    ({{ companyRelation.relationship }}, {{ companyRelation.company.personRelations|length }})
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endfor %}

{# display navigation #}
{% endblock %}