{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ company.name }}</h1>
{% for year, info in company.infoByYear %}
    {#<h2>{{ year }}</h2>#}
    <div>
        {% if info.description is defined %}
            <i>{{ info.description }}</i>{% if info.address is defined %}, {% endif %}
        {% endif %}
        {% if info.address is defined %}
            {{ info.address }}
        {% endif %}
        {% if company.personRelations|length > 0 %}
            {% for isBoard,label in { 1: 'Aufsichtsrat', 0: 'Vorstand',  } %}
                {% set personRelations = company.personRelations(isBoard == true) %}
                {% if personRelations|length > 0 %}
                <h3>{{ label }}</h3>
                <ul>
                    {% for personRelation in personRelations %}
                        <li>
                            <a href="{{ path('person_show', { 'id': personRelation.person.id }) }}">{{ personRelation.person.fullname }}</a>
                            ({{ personRelation.relationship }}, {{ personRelation.person.companyRelations|length }})
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if similar|length > 0 %}
        <h3>Personell verbundene Firmen</h3>
        <ul>
            {% for id,related in similar %}
                <li>
                    <a href="{{ path('company_show', { 'id': id }) }}">{{ related.name }}</a>
                    (<a href="{{ path('person_shared', { 'companies': [ company.id, id ]|join(',') }) }}" data-remote="false" data-bs-toggle="modal" data-bs-target="#detailModal">{{ related.count }}, {{ (100 * related.coefficient)|round(1) }}%</a>)
                </li>
            {% endfor %}
        </ul>

        <!-- Modal for shared Person -->
        <div id="detailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Loading....</p>
                    </div>
                </div>
            </div>
        </div>
        <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            // Your code to run since DOM is loaded and ready
            $('#detailModal').on('show.bs.modal', function(e) {
                var link = $(e.relatedTarget);
                $(this).find('.modal-body').html('Loading...');
                $(this).find('.modal-body').load(link.attr('href'));
            });
        });
        </script>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
