{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ company.name }}</h1>
{% for year, info in { 1927: {} } %}
    {#<h2>{{ year }}</h2>#}
    <div>
        {% if info.description is defined %}
            <i>{{ info.description }}</i>{% if info.address is defined %}, {% endif %}
        {% endif %}
        {% if info.address is defined %}
            {{ info.address }}
        {% endif %}
        {% if company.personRelations|length > 0 %}
            {% for isBoard,label in { 1: 'Aufsichtsrat', 0: 'Vorstand',  } %}
                {% set personRelations = company.personRelations(isBoard == true) %}
                {% if personRelations|length > 0 %}
                <h3>{{ label }}</h3>
                <ul>
                    {% for personRelation in personRelations %}
                        <li>
                            <a href="{{ path('person_show', { 'id': personRelation.person.id }) }}">{{ personRelation.person.fullname }}</a>
                            ({{ personRelation.relationship }}, {{ personRelation.person.companyRelations|length }})
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if similar|length > 0 %}
        <h3>Personell verbundene Firmen</h3>
        <ul>
            {% for id,related in similar %}
                <li>
                    <a href="{{ path('company_show', { 'id': id }) }}">{{ related.name }}</a>
                    ({{ related.count }}, {{ (100 * related.coefficient)|round(1) }}%)
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}