{% extends 'base.html.twig' %}

{% block body %}

<h1>Firmen</h1>
<form method="get" action="{{ path(app.request.attributes.get('_route')) }}">
    <div class="form-group">
        {{ form_rest(form) }}
        {#<button type="submit" class="btn btn-primary">{{ 'Search'|trans }}</button>#}
    </div>
</form>
{% for row in pagination %}
    {% set company = row[0] %}
    <div>
        <a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.fullName }}</a>
        ({{ row['numPersons'] }})
    </div>
{% endfor %}

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
